
@font-face {
	font-family: "Helvetica Neue LT Std";
	src: url("./font.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat-Light.ttf");
}

body {
	font-family: "Montserrat" !important;
}

.ui.container.text {
	font-family: "Montserrat" !important;
}

svg.brand {
	fill: #333;
	width: 150px;
	height: 150px;
}

.brand:hover {
	fill: #555;
	color: #555;
}

.brand.name {
	font-size: 40pt;
	padding: 0px 0px 0px 30px;
	color: #333;
	font-family: "Helvetica Neue LT Std", serif;
}

header > .bg {
	background-image: url('./img/blueprint.jpg');
	filter: brightness(50%);
	background-repeat: none;
	background-size: 100vw auto;
	width: 100%;
	height: 100%;
}

header {
	width: 100vw;
	height: 70vh;
}

span.header {
	color: white;
	font-size: 30pt;
	position: absolute;
	top: 20%;
}

article {
	width: 100vw;
}

footer {
	width: 100vw;
	height: 40vh;
	background-color: #333;
	color: white;
}
